<nav class="sideBar">
  <div class="logo">
    <a [routerLink]="'summary'">
      <img src="../../../../assets/images/side_bar_image.png" alt="logo" />
    </a>
    <h3>
      Mana's <br />
      Covid Tracker App
    </h3>
  </div>
  <div class="navigation">
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="'summary'"> Summary </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="'country'"> By Country </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="'live'"> Live Data </a>
      </li>
    </ul>
  </div>
</nav>
